<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Batch measurement generation</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="main">
    <div class="menu">

        <hr/>
        <p>IIR Client</p>
        <hr/>

        <form th:method="GET" th:action="@{/client}" >
            <div class="sbmt">
                <input type="submit" value="Home"/>
            </div>
        </form>

        <hr/>
        <p>NEW</p>
        <hr/>

        <form th:method="GET" th:action="@{/client/sensor/new}" >
            <div class="sbmt">
                <input type="submit" value="Sensor"/>
            </div>
        </form>

        <form th:method="GET" th:action="@{/client/measurement/new}" >
            <div class="sbmt">
                <input type="submit" value="Measurement"/>
            </div>
        </form>

        <hr/>
        <p>OR</p>
        <hr/>

        <form th:method="GET" th:action="@{/client/sensor/batch/new}" >
            <div class="sbmt">
                <input type="submit" value="1000 sensors"/>
            </div>
        </form>

        <form th:method="GET" th:action="@{/client/measurement/batch/new}" >
            <div class="sbmt">
                <input type="submit" value="1000 measurements"/>
            </div>
        </form>

        <hr/>
        <p>SHOW</p>
        <hr/>

        <form th:method="GET" th:action="@{/client/measurement/show}" >
            <div class="sbmt">
                <input type="submit" value="Measurements"/>
            </div>
        </form>

        <form th:method="GET" th:action="@{/client/measurement/rainydays}" >
            <div class="sbmt">
                <input type="submit" value="Rainy days counter"/>
            </div>
        </form>

        <hr/>
        <p>CLEAR</p>
        <hr/>

        <form th:method="GET" th:action="@{/client/clear}" >
            <div class="sbmt">
                <input type="submit" value="All data"/>
            </div>
        </form>
        <hr/>

    </div>

    <div class="common">
        <div class="content">

            <form th:method="POST" th:action="@{/client/measurement/batch}" >


                <h1>Add 1000 random measurements</h1>


                <div class="sbmt">
                    <input type="submit" value="Add"/>
                </div>
            </form>

            <hr/>
        </div>
    </div>
</div>
</body>
</html>