<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add measurements</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="main">

<!--    Menu-->
    <div class="menu">

        <hr/>
        <p>IIR Client</p>
        <hr/>

        <form th:method="GET" th:action="@{/client}" >
            <div class="sbmt">
                <input type="submit" value="Home"/>
            </div>
        </form>

        <hr/>
        <p>NEW</p>
        <hr/>

        <form th:method="GET" th:action="@{/client/sensor/new}" >
            <div class="sbmt">
                <input type="submit" value="Sensor"/>
            </div>
        </form>

        <form th:method="GET" th:action="@{/client/measurement/new}" >
            <div class="sbmt">
                <input type="submit" value="Measurement"/>
            </div>
        </form>

        <hr/>
        <p>BATCH</p>
        <hr/>

        <form th:method="GET" th:action="@{/client/sensor/batch/new}" >
            <div class="sbmt">
                <input type="submit" value="Sensors"/>
            </div>
        </form>

        <form th:method="GET" th:action="@{/client/measurement/batch/new}" >
            <div class="sbmt">
                <input type="submit" value="Measurements"/>
            </div>
        </form>

        <hr/>
        <p>SHOW</p>
        <hr/>

        <form th:method="GET" th:action="@{/client/measurement/show}" >
            <div class="sbmt">
                <input type="submit" value="Measurements"/>
            </div>
        </form>

        <form th:method="GET" th:action="@{/client/measurement/rainydays}" >
            <div class="sbmt">
                <input type="submit" value="Rainy days counter"/>
            </div>
        </form>

        <hr/>
        <p>CLEAR</p>
        <hr/>

        <form th:method="GET" th:action="@{/client/clear}" >
            <div class="sbmt">
                <input type="submit" value="All data"/>
            </div>
        </form>
        <hr/>

    </div>


    <!--    Content-->
    <div class="common">
        <div class="content">


            <h1>Add measurements</h1>


            <form th:method="POST" th:action="@{/client/measurement}" th:object="${measurement}">
            <!--                Text field 'Temperature'-->
            <!--    <label for="value">Temperature</label>-->
            <!--    <input type="text" th:field="*{value}" id="value"/>-->
            <!--    <div style="color: darkgoldenrod" th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Error name</div>-->
            <!--    <br/>-->

            <!--                Select field 'Temperature'-->
                <label for="value">Temperature:</label>
                <br/>
                <select th:object="${measurement}" th:field="*{value}" id="value">
                    <option th:each="v : ${values}" th:value="${v}"
                            th:text="${v}"></option>
                </select>


            <!--                Text field 'Raining'-->
            <!--    <label for="raining">Raining</label>-->
            <!--    <input type="text" th:field="*{raining}" id="raining"/>-->
            <!--    <div style="color: darkgoldenrod" th:if="${#fields.hasErrors('raining')}" th:errors="*{raining}">Error name</div>-->
            <!--    <br/>-->

            <!--                Radio field 'Raining'-->
                <div class="p_left">
                    <div class="iir">Is it raining?</div>
                <label for="rainingTrue">Yes</label>
                <input type="radio" th:field="*{raining}" id="rainingTrue" name="raining" value="true"/>

                <label for="rainingFalse">No</label>
                <input type="radio" th:field="*{raining}" id="rainingFalse" name="raining" value="false"/>
                </div>

                <br/>

                <label for="sensor">Sensor:</label>
                <br/>
                <select th:object="${sensor}" th:field="*{name}" id="sensor">
                    <option th:each="sensor : ${allSensors}" th:value="${sensor.getName()}"
                            th:text="${sensor.getName()}"></option>
                </select>
                <div class="error-message" th:if="${#fields.hasErrors('sensor')}" th:errors="*{sensor}">Error name</div>


                <br/>

                <div class="sbmt">
                    <input type="submit" value="Add"/>
                </div>


            </form>

            <hr/>
        </div>
    </div>
</div>
</body>
</html>