<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show all measurements</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="main">

<!--    Menu-->
    <div class="menu">

        <hr/>
        <p>IIR Client</p>
        <hr/>

        <form th:method="GET" th:action="@{/client}" >
            <div class="sbmt">
                <input type="submit" value="Home"/>
            </div>
        </form>

        <hr/>
        <p>NEW</p>
        <hr/>

        <form th:method="GET" th:action="@{/client/sensor/new}" >
            <div class="sbmt">
                <input type="submit" value="Sensor"/>
            </div>
        </form>

        <form th:method="GET" th:action="@{/client/measurement/new}" >
            <div class="sbmt">
                <input type="submit" value="Measurement"/>
            </div>
        </form>

        <hr/>
        <p>BATCH</p>
        <hr/>

        <form th:method="GET" th:action="@{/client/sensor/batch/new}" >
            <div class="sbmt">
                <input type="submit" value="Sensors"/>
            </div>
        </form>

        <form th:method="GET" th:action="@{/client/measurement/batch/new}" >
            <div class="sbmt">
                <input type="submit" value="Measurements"/>
            </div>
        </form>

        <hr/>
        <p>SHOW</p>
        <hr/>

        <form th:method="GET" th:action="@{/client/measurement/show}" >
            <div class="sbmt">
                <input type="submit" value="Measurements"/>
            </div>
        </form>

        <form th:method="GET" th:action="@{/client/measurement/rainydays}" >
            <div class="sbmt">
                <input type="submit" value="Rainy days counter"/>
            </div>
        </form>

        <hr/>
        <p>CLEAR</p>
        <hr/>

        <form th:method="GET" th:action="@{/client/clear}" >
            <div class="sbmt">
                <input type="submit" value="All data"/>
            </div>
        </form>
        <hr/>

    </div>


    <!--    Content-->
    <div class="common">
        <div class="content">

            <h1>All measurements</h1>

            <table>
                <thead>
                <tr>
                    <th>Sensor</th>
                    <th>Temperature</th>
                    <th>Raining</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="measurement : ${allMeasurements}">
                    <td class="align-middle" th:text="${measurement.getSensor()}"></td>
                    <td class="align-middle" th:text="${measurement.getValue()}"></td>
                    <td class="align-middle" th:text="${measurement.getRaining()}"></td>
                </tr>
                </tbody>

            </table>

            <hr/>
        </div>
    </div>
</div>
</body>
</html>