<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sensor batch generation</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="common">
        <div class="content">
            <form th:method="POST" th:action="@{/client/sensor/batch}" >

                <h1>Generate 1000 testing sensors</h1>
                <div class="sbmt">
                    <input type="submit" value="Generate"/>
                </div>
            </form>
        </div>
    </div>
</body>
</html>